.header {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.headerButton {
    font-size: 20px;
    color: white;
}

.headerButton:hover {
    cursor: pointer;
}

.iconContainer {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 50px;
}

.iconContainer:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
}

.navigationLinks {
    display: flex;
    gap: 30px;
    align-items: center;
    align-items: center;
}

.navigationLink {
    padding: 10px 15px;
    background-color: white;
    color: #8C999D;
}

.navigationLink:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    border-radius: 20px;
}

.right {
    display: flex;
    gap: 25px;
    align-items: center;
}

.popUp {
    position: absolute;
    background-color: white;
    width: 65%;
    height: 100%;
    z-index: 100;
    color: black;
    top: 0;
}



/* Media */

@media screen and (max-width:768px) {
    .header {
        width: 100%;
    }
    .right {
        gap: 5px;
    }
    .navigationLink {
        display: none;
    }

  
}


@media screen and (min-width:769px) {
    .iconContainer.hide {
        display: none;
    }
}