.hero {
    display: flex;
    gap: 20px;
    max-width: 100%;
}

.heroLeft {
    flex: 3;
    border-radius: 20px;
    display: flex;
    align-items: end;
    height: 70vh;
    overflow: hidden;
    position: relative;
    background-color: red;
}

.heroImage {
    flex: 1;
}

.heroLeftText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    position: absolute;
}

.heroTitle {
    color: whitesmoke;
    font-size: 42px;
}

.heroSubtitle {
    color: gray;
}

.heroImage {
    height: 100%;
    width: 50%;
}

.heroRight {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 30px;
    border: 1px solid lightgray;
}

/* Media */
@media screen and (max-width:768px) {
    .hero {
        flex-direction: column;
    }
    .heroTitle {
        font-size: 22px;
    }
    .heroImage {
        height:20rem;
    }
    .heroRight {
    }


    
}